:root{
	--redish:   #bd173a  ;
	--lighredish:  #e74e6f ;
	--facebook: #3c5899;
	--github: black ;
	--twitter: #55acee ;
}
*{
	margin:0;
	padding: 0;
	font-family: sans-serif;
}
body{
	background-image: url('../img/background.jpg');
	background-repeat: repeat;
	background-size: contain;
}
input{
	outline: none;
	border:none;
	border-bottom: 1px solid grey;
}
button{
	outline: none;
	border:none;
}
a{
	color: var(--redish);
	text-decoration: none;
}
a:visited{
	color: grey ;
}
a:hover{
	color:var(--lighredish);
}
.container{
	display: flex;
	justify-content: center;
	width: 100%; 
	height: 100vh;
	align-content: center;
}
.login-box{
	background-color: white;
	border: none;
	width: 300px;
	height: 500px;
	margin:auto;
}
.title-box{
	background-color: var(--redish);
	width: auto;
	height: 100px;
	position: relative;
}
.title-box > h2{
	font-size: 30px;
	color: white;
	position: absolute;
	left: 10px;
	bottom:20px;
}
.title-box > button{
	width: 50px;
	height: 50px;
	padding: 8px;
	border-radius: 50%;
	background-color: var(--lighredish) ;
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 10px;
	margin-bottom: -25px;
	color: white;
	font-size: 30px;
}
.body-box{
	padding: 40px;
}
.field{
	display: flex;
	align-items: center;
}
.field>input{
	width: 80%;
	height: 40px;
	font-size: medium;
}
.field>i{
	color: var(--lighredish); /*not working*/
}
.group-buttons{
	height:100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 18px; /*da tamaño a los iconos*/
}
.btn{
	background-color: grey;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
#btn-facebook{
	background-color:var(--facebook);
}
#btn-github{
	background-color:var(--github);
}
#btn-twitter{
	background-color:var(--twitter);
}
#btn-sign-in{
	width: 100%;
	height: 40px;
	background-color: var(--lighredish);
	color: white;
	border-radius: 5px;
	font-weight: bolder;
}
.container-forgot{
	text-align:center; 
	margin:10px;
	font-size: 12px;
}
